/* Error: There is no module with the namespace "map".
 *    ,
 * 25 |         background-image: map.get(map.get(variables.$home-backgrounds, large), avif);       
 *    |                           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   fuente\sass\pages\semanal.scss 25:27  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "map".\a    \2577 \a 25 \2502          background-image: map.get(map.get(variables.$home-backgrounds, large), avif);       \d\a    \2502                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   fuente\\sass\\pages\\semanal.scss 25:27  root stylesheet';
}
