// Definir variables
$color-principal: #2C2C2E;
$color-secundario: #ff3b30;
$anchura: 1200px;
$header-bg-color: #2C2C2E;
$nav-link-color: #fff;
$nav-link-hover-color: #ccc;
$logo-bg-color: #888;
$font-family: 'Arial, sans-serif';
$border-radius: 10px;
$tamanio-standar: 1rem;
$tamanio-doble: 2rem;
$tamanio-cuatro: 4rem;
$tamanio-ocho: 8rem;
$tamanio-nueve: 9rem;

// Mapa de imágenes de fondo por resolución y formato con nombres de archivo modificados
$home-backgrounds: (
    large: (
        avif: url('../media/imagenes/avif/FondoMenu7580.avif'),
        webp: url('../media/imagenes/webp/FondoMenu7580.webp'),
        jpg:  url('../media/imagenes/jpg/FondoMenu7580.jpg')
    ),
    standard: (
        avif: url('../media/imagenes/avif/FondoMenu2560.avif'),
        webp: url('../media/imagenes/webp/FondoMenu2560.webp'),
        jpg: url('../media/imagenes/jpg/FondoMenu2560.jpg')
    ),
    small: (
        avif: url('../media/imagenes/avif/FondoMenu1920.avif'),
        webp: url('../media/imagenes/webp/FondoMenu1920.webp'),
        jpg: url('../media/imagenes/jpg/FondoMenu1920.jpg')
    ),
    tablet: (
        avif: url('../media/imagenes/avif/FondoMenu1200.avif'),
        webp: url('../media/imagenes/webp/FondoMenu1200.webp'),
        jpg: url('../media/imagenes/jpg/FondoMenu1200.jpg')
    ),
    mobile: (
        avif: url('../media/imagenes/avif/FondoMenu758.avif'),
        webp: url('../media/imagenes/webp/FondoMenu758.webp'),
        jpg: url('../media/imagenes/jpg/FondoMenu758.jpg')
    ),
    xss: (
        avif: url('../media/imagenes/avif/FondoMenu480.avif'),
        webp: url('../media/imagenes/webp/FondoMenu480.webp'),
        jpg: url('../media/imagenes/jpg/FondoMenu480.jpg')
    )
);