@charset "UTF-8";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C2C2E;
  color: white;
  padding: 10px 5%;
  height: 10vh;
}
.header .logo {
  background-color: #555;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
}
.header .nav {
  display: flex;
  gap: 20px;
}
.header .nav .nav-link {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}
.header .nav .nav-link:hover {
  color: #ccc;
}

@media (min-width: 2560px) {
  .header {
    padding: 10px 10%;
  }
  .header .logo {
    font-size: 1.5rem;
  }
  .header .nav {
    gap: 300px;
  }
  .header .nav .nav-link {
    font-size: 2rem;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .header {
    padding: 10px 8%;
  }
  .header .logo {
    font-size: 1.3rem;
  }
  .header .nav {
    gap: 100px;
  }
  .header .nav .nav-link {
    font-size: 1rem;
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .header {
    padding: 10px 6%;
  }
  .header .logo {
    font-size: 1.2rem;
  }
  .header .nav {
    gap: 100px;
  }
  .header .nav .nav-link {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 10px 5%;
  }
  .header .logo {
    font-size: 1.1rem;
  }
  .header .nav {
    gap: 50px;
  }
  .header .nav .nav-link {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .header {
    padding: 10px 5%;
  }
  .header .nav {
    margin-left: 100px;
    gap: 28px;
    left: 0;
    width: 100%;
    background-color: #333;
  }
  .header .nav.active {
    display: flex;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Eliminar los bordes de los botones y formularios */
button,
input,
select,
textarea {
  border: none;
  background: none;
  outline: none;
}

/* 3. Ajustar la tipografía */
body {
  font-family: sans-serif;
}

/* 4. Eliminar el estilo de lista */
ul,
ol {
  list-style: none;
}

/* 5. Asegurarse de que las imágenes y otros medios no desborden */
img,
video,
audio {
  max-width: 100%;
  height: auto;
}

/* 6. Controlar la apariencia de las tablas */
table {
  border-collapse: collapse;
  width: 100%;
}

/* 7. Eliminar los bordes predeterminados de los formularios */
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* 8. Evitar que los enlaces cambien de color cuando se visitan */
a {
  text-decoration: none;
  color: inherit;
}

.footer {
  background-color: #e6e6e6;
  padding: 20px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 30px;
}
.footer .top-section .logo {
  width: 80px;
  height: 80px;
  background-color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}
.footer .top-section .social-icons {
  display: flex;
  gap: 15px;
}
.footer .top-section .social-icons a {
  font-size: x-large;
}
.footer .top-section .social-icons img {
  width: 1000px;
  height: 100px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.footer .top-section .social-icons img:hover {
  transform: scale(1.1);
}
.footer .info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 800px;
  text-align: left;
}
.footer .info div {
  flex: 1;
  margin: 0 10px;
}
.footer .info div h3 {
  font-size: 16px;
  font-weight: bold;
}
.footer .info div p {
  font-size: 14px;
  margin: 5px 0;
}

body {
  margin: 0;
  background-image: url("../../../media/imagenes/avif/imagenFondoMenu2560X1707.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 2560px) {
  body {
    background-image: url("../../../media/imagenes/avif/imagenFondoMenu2560X1707.avif");
  }
}
@media (min-width: 1200px) {
  body {
    background-image: url("../../../media/imagenes/avif/imagenFondoMenu2560X1708 .avif");
  }
}
@media (max-width: 1200px) {
  body {
    background-image: url("../../../media/imagenes/avif/imagenFondoMenu1920X1281.avif");
  }
}
@media ((min-width: 768px) and (max-width: 1199px)) {
  body {
    background-image: url("../../../media/imagenes/avif/imagenFondoMenu1200X800.avif");
  }
}
@media (max-width: 767px) {
  body {
    background-image: url("../../../media/imagenes/avif/imagenFondoMenu758X512.avif");
  }
}
body h1 {
  color: #ff3b30;
  margin: 60px 0;
  font-size: 5rem;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #2C2C2E;
  position: relative;
}

.contenedorHome {
  display: flex;
  gap: 200px;
  margin-top: 80px;
}
.contenedorHome .tarjeta {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 30px;
}
.contenedorHome .tarjeta img {
  width: 100%;
  height: 85%;
  border-radius: 30px;
}

.crear {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ff3B30;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 30px;
  border-radius: 30px;
  width: 100px;
  justify-content: center;
}
.crear button {
  color: white;
  font-weight: bold;
}
.crear:hover {
  background-color: #ff6b81;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.crear:active {
  background-color: #ff4757;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}

.busqueda {
  background-color: white;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
}

/* Media Queries para pantallas pequeñas (moviles) */
/* Large screens (2560px) */
/* Standard screens (1920px) */
/* Small screens (1200px) */
/* Tablets (768px) */
/* Mobile phones (480px) */
@media (max-width: 480px) {
  .contenedorHome {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .tarjeta {
    width: 90%;
    height: auto;
  }
}
body {
  margin: 0;
  background-image: url("../../../media/imagenes/avif/imagenFondoMenu2560X1707.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
@media (min-width: 2560px) {
  body {
    background-image: url("../../../media/imagenes/avif/imagenFondoMenu2560X1707.avif");
  }
}
@media (min-width: 1200px) {
  body {
    background-image: url("../../../media/imagenes/avif/imagenFondoMenu2560X1708 .avif");
  }
}
@media (max-width: 1200px) {
  body {
    background-image: url("../../../media/imagenes/avif/imagenFondoMenu1920X1281.avif");
  }
}
@media ((min-width: 768px) and (max-width: 1199px)) {
  body {
    background-image: url("../../../media/imagenes/avif/imagenFondoMenu1200X800.avif");
  }
}
@media (max-width: 767px) {
  body {
    background-image: url("../../../media/imagenes/avif/imagenFondoMenu758X512.avif");
  }
}
body h1 {
  color: #ff3b30;
  margin: 60px 0;
  font-size: 5rem;
}

#home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  color: #2C2C2E;
  position: relative;
}

.contenedorHome {
  display: flex;
  gap: 200px;
  margin-top: 80px;
}
.contenedorHome .tarjeta {
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius: 30px;
}
.contenedorHome .tarjeta img {
  width: 100%;
  height: 85%;
  border-radius: 30px;
}

.crear {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ff3B30;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 30px;
  border-radius: 30px;
  width: 100px;
  justify-content: center;
}
.crear button {
  color: white;
  font-weight: bold;
}
.crear:hover {
  background-color: #ff6b81;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.crear:active {
  background-color: #ff4757;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}

.busqueda {
  background-color: white;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
}

/* Media Queries para pantallas pequeñas (moviles) */
/* Large screens (2560px) */
/* Standard screens (1920px) */
/* Small screens (1200px) */
/* Tablets (768px) */
/* Mobile phones (480px) */
@media (max-width: 480px) {
  .contenedorHome {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .tarjeta {
    width: 90%;
    height: auto;
  }
}

/*# sourceMappingURL=home.css.map */
