@charset "UTF-8";
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Eliminar los bordes de los botones y formularios */
button,
input,
select,
textarea {
  border: none;
  background: none;
  outline: none;
}

/* 3. Ajustar la tipografía */
body {
  font-family: sans-serif;
}

/* 4. Eliminar el estilo de lista */
ul,
ol {
  list-style: none;
}

/* 5. Asegurarse de que las imágenes y otros medios no desborden */
img,
video,
audio {
  max-width: 100%;
  height: auto;
}

/* 6. Controlar la apariencia de las tablas */
table {
  border-collapse: collapse;
  width: 100%;
}

/* 7. Eliminar los bordes predeterminados de los formularios */
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* 8. Evitar que los enlaces cambien de color cuando se visitan */
a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C2C2E;
  color: white;
  padding: 10px 5%;
  height: 10vh;
}
.header .logo {
  background-color: #555;
  padding: 10px;
  border-radius: 5px;
  font-size: 2rem;
}
.header .nav {
  display: flex;
  gap: 20px;
  font-family: "Open Sans", serif;
}
.header .nav .nav-link {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}
.header .nav .nav-link:hover {
  color: #ccc;
}

@media (min-width: 2560px) {
  .header {
    padding: 10px 10%;
  }
  .header .logo {
    font-size: 3rem;
  }
  .header .nav {
    gap: 100px;
  }
  .header .nav .nav-link {
    font-size: 2rem;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .header {
    padding: 10px 8%;
  }
  .header .logo {
    font-size: 3rem;
  }
  .header .nav {
    gap: 100px;
  }
  .header .nav .nav-link {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .header {
    padding: 10px 6%;
  }
  .header .logo {
    font-size: 2.5rem;
  }
  .header .nav {
    gap: 100px;
  }
  .header .nav .nav-link {
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 10px 5%;
  }
  .header .logo {
    font-size: 2rem;
  }
  .header .nav {
    gap: 50px;
  }
  .header .nav .nav-link {
    font-size: 1.5rem;
  }
}
@media (min-width: 451px) and (max-width: 767px) {
  .header {
    padding: 10px 5%;
  }
  .header .logo {
    font-size: 1rem;
  }
  .header .nav {
    gap: 20px;
  }
  .header .nav .nav-link {
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  .header {
    padding: 10px 5%;
  }
  .header .logo {
    font-size: 1rem;
  }
  .header .nav {
    gap: 20px;
  }
  .header .nav .nav-link {
    font-size: 1.1rem;
  }
}
.footer {
  z-index: 2;
  background-color: #e6e6e6;
  padding: 20px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 30px;
}
.footer .top-section .logo {
  width: 80px;
  height: 80px;
  background-color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 2rem;
}
.footer .top-section .social-icons {
  display: flex;
  gap: 15px;
}
.footer .top-section .social-icons a {
  font-size: 2rem;
  transition: transform 0.3s ease;
}
.footer .top-section .social-icons a:hover {
  transform: scale(1.2);
}
.footer .info {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  text-align: left;
}
.footer .info section {
  flex: 1;
  margin: 0 10px;
}
.footer .info section h3 {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Bebas Neue", serif;
  margin-bottom: 10px;
}
.footer .info section p {
  font-family: "Open Sans", serif;
  font-size: 0.9rem;
  line-height: 1.6;
  margin-top: 5px;
  color: #333;
}

@media (max-width: 767px) {
  .footer .info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .info section {
    margin-bottom: 20px;
  }
  .footer .info section p {
    font-size: 1rem;
    line-height: 1.5;
  }
}
.contenedor {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: 40vh;
  color: white;
  gap: 50px;
  max-width: 40%;
  left: 10%;
}
.contenedor #parrafoMotivacional {
  color: white;
  max-width: 100%;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: "Open Sans", serif;
}

.registrar button {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  background-color: #ff3B30;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  justify-content: center;
  width: 200px;
  font-family: "Open Sans", serif;
}
.registrar button button {
  color: white;
  font-weight: bold;
}
.registrar button:hover {
  background-color: #ff6b81;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.registrar button:active {
  background-color: #ff4757;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}

/* Media Queries para pantallas pequeñas (menos de 768px) */
@media (max-width: 479px) {
  .contenedor {
    top: 15%;
    left: 5%;
    max-width: 40%;
    align-items: flex-start;
    text-align: left;
  }
  .contenedor #parrafoMotivacional {
    font-size: 1.2rem;
    color: white;
  }
  .contenedor .registrar button {
    width: 120px;
    font-size: 10px;
  }
  .imagen {
    width: 100%;
    height: 100vh;
    display: block;
    position: relative;
  }
  .imagen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(4px); /* Aplica el filtro de desenfoque a la imagen */
  }
}
@media (min-width: 480px) and (max-width: 767px) {
  .contenedor {
    top: 3vh;
    position: relative;
    margin-left: 20vw;
  }
  .contenedor #parrafoMotivacional {
    color: black;
    font-size: 1.1rem;
  }
  .contenedor .registrar button {
    margin-bottom: 40px;
  }
  .contenedor .imagen {
    width: 100%;
    /* Asegura que el contenedor ocupe todo el ancho disponible */
    display: block;
    /* Elimina cualquier espacio innecesario */
  }
}
/* Media Queries para pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {
  .contenedor {
    top: 20vh;
  }
  .contenedor #parrafoMotivacional {
    color: white;
    font-size: 1rem;
  }
}
/* Media Queries para pantallas grandes (escritorios) */
@media (min-width: 1200px) {
  .contenedor #parrafoMotivacional {
    font-size: 1rem;
  }
  .registrar button {
    font-size: 20px;
  }
}
/* Media Queries para pantallas extra grandes (pantallas muy grandes, 2560px y más) */
@media (min-width: 2560px) {
  .contenedor {
    max-width: 50%;
  }
  .contenedor #parrafoMotivacional {
    font-size: 2rem;
  }
  .registrar button {
    font-size: 25px;
    width: 300px;
  }
}

/*# sourceMappingURL=landing.css.map */
