@charset "UTF-8";
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2C2C2E;
  color: white;
  padding: 10px 5%;
  height: 10vh;
}
.header .logo {
  background-color: #555;
  padding: 10px;
  border-radius: 5px;
  font-size: 2rem;
}
.header .nav {
  display: flex;
  gap: 20px;
  font-family: "Open Sans", serif;
}
.header .nav .nav-link {
  color: white;
  text-decoration: none;
  font-size: 0.9rem;
}
.header .nav .nav-link:hover {
  color: #ccc;
}

@media (min-width: 2560px) {
  .header {
    padding: 10px 10%;
  }
  .header .logo {
    font-size: 3rem;
  }
  .header .nav {
    gap: 100px;
  }
  .header .nav .nav-link {
    font-size: 2rem;
  }
}
@media (min-width: 1920px) and (max-width: 2559px) {
  .header {
    padding: 10px 8%;
  }
  .header .logo {
    font-size: 3rem;
  }
  .header .nav {
    gap: 100px;
  }
  .header .nav .nav-link {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) and (max-width: 1919px) {
  .header {
    padding: 10px 6%;
  }
  .header .logo {
    font-size: 2.5rem;
  }
  .header .nav {
    gap: 100px;
  }
  .header .nav .nav-link {
    font-size: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    padding: 10px 5%;
  }
  .header .logo {
    font-size: 2rem;
  }
  .header .nav {
    gap: 50px;
  }
  .header .nav .nav-link {
    font-size: 1.5rem;
  }
}
@media (min-width: 451px) and (max-width: 767px) {
  .header {
    padding: 10px 5%;
  }
  .header .logo {
    font-size: 1rem;
  }
  .header .nav {
    gap: 20px;
  }
  .header .nav .nav-link {
    font-size: 1.5rem;
  }
}
@media (max-width: 450px) {
  .header {
    padding: 10px 5%;
  }
  .header .logo {
    font-size: 1rem;
  }
  .header .nav {
    gap: 20px;
  }
  .header .nav .nav-link {
    font-size: 1.1rem;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 2. Eliminar los bordes de los botones y formularios */
button,
input,
select,
textarea {
  border: none;
  background: none;
  outline: none;
}

/* 3. Ajustar la tipografía */
body {
  font-family: sans-serif;
}

/* 4. Eliminar el estilo de lista */
ul,
ol {
  list-style: none;
}

/* 5. Asegurarse de que las imágenes y otros medios no desborden */
img,
video,
audio {
  max-width: 100%;
  height: auto;
}

/* 6. Controlar la apariencia de las tablas */
table {
  border-collapse: collapse;
  width: 100%;
}

/* 7. Eliminar los bordes predeterminados de los formularios */
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* 8. Evitar que los enlaces cambien de color cuando se visitan */
a {
  text-decoration: none;
  color: inherit;
}

.footer {
  z-index: 2;
  background-color: #e6e6e6;
  padding: 20px;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin-bottom: 20px;
  border-bottom: 2px solid black;
  padding-bottom: 30px;
}
.footer .top-section .logo {
  width: 80px;
  height: 80px;
  background-color: #666;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  font-size: 2rem;
}
.footer .top-section .social-icons {
  display: flex;
  gap: 15px;
}
.footer .top-section .social-icons a {
  font-size: 2rem;
  transition: transform 0.3s ease;
}
.footer .top-section .social-icons a:hover {
  transform: scale(1.2);
}
.footer .info {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  text-align: left;
}
.footer .info section {
  flex: 1;
  margin: 0 10px;
}
.footer .info section h3 {
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Bebas Neue", serif;
  margin-bottom: 10px;
}
.footer .info section p {
  font-family: "Open Sans", serif;
  font-size: 0.9rem;
  line-height: 1.6;
  margin-top: 5px;
  color: #333;
}

@media (max-width: 767px) {
  .footer .info {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer .info section {
    margin-bottom: 20px;
  }
  .footer .info section p {
    font-size: 1rem;
    line-height: 1.5;
  }
}
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F4F4F4;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../media/imagenes/avif/FondoMenu7580.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(4px);
  z-index: -1;
}
body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.calendar-container {
  width: 80%;
  max-width: 1200px;
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.week-header {
  text-align: center;
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.days-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.day {
  width: calc(14.2857142857% - 20px);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.day-name {
  font-size: 18px;
  color: black;
  margin-bottom: 10px;
}

.start-button {
  display: flex;
  align-items: center;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ff3B30;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
  text-align: center;
  justify-content: center;
}
.start-button button {
  color: white;
  font-weight: bold;
}
.start-button:hover {
  background-color: #ff6b81;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.start-button:active {
  background-color: #ff4757;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: translateY(0);
}

.check-icon {
  font-size: 20px; /* Tamaño del ícono */
  color: green; /* Color del ícono */
  margin-top: 5px;
}

@media (min-width: 1800px) {
  .calendar-container {
    width: 90%;
    max-width: none;
    padding: 40px;
  }
  .week-header {
    font-size: 36px;
    margin-bottom: 40px;
  }
  .day {
    width: calc(14.2857142857% - 40px);
    padding: 40px;
    font-size: 20px;
  }
  .day-name {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .start-button {
    font-size: 20px;
    padding: 15px 30px;
  }
  .check-icon {
    margin-top: 20px;
  }
}
@media (min-width: 501px) and (max-width: 1300px) {
  .days-container {
    flex-wrap: wrap;
    gap: 10px;
  }
  .day {
    flex: 1 1 calc(50% - 20px);
    min-width: 100px;
    max-width: calc(50% - 20px);
  }
  .start-button {
    width: 50%;
  }
  .check-icon {
    margin-left: 10px;
  }
}
@media (max-width: 500px) {
  .calendar-container {
    width: 100%;
  }
  .days-container {
    flex-direction: column;
    align-items: center;
  }
  .day {
    width: 100%;
    margin-bottom: 10px;
  }
  .start-button {
    width: 50%;
  }
  .check-icon {
    margin-left: 10px;
  }
}

/*# sourceMappingURL=semanal.css.map */
