        // Variables de colores
        @use "../componentes/header.scss";
        @use "../base/predeterminado.scss";
        @use "../global/variables.scss";
        @use "../global/funciones.scss";
        @use "../componentes/footer.scss";
        @use "../componentes/boton.scss";


        // Variables de imágenes de fondo por resolución
        // Variables de imágenes de fondo por resolución


        $usar-color-secundario: true;


        // Estilos del contenedor principal
        body {
            margin: 0;
            background-image: map-get(map-get(variables.$home-backgrounds, large), avif);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh; // Usar min-height en vez de height
            display: flex;
            flex-direction: column; //

            // Carga de imágenes AVIF si el navegador las soporta
            @supports (background-image: map-get(map-get(variables.$home-backgrounds, large), avif)) {
                @media (min-width: 2560px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, large), avif);
                }

                @media (min-width: 1921px) and (max-width: 2560px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, standard), avif);
                }

                @media (min-width: 1200px) and (max-width: 1920px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, small), avif);
                }

                @media (min-width: 768px) and (max-width: 1199px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, tablet), avif);
                }

                @media (max-width: 767px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, mobile), avif);
                }

                @media (max-width: 480px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, xss), avif);
                }
            }

            @supports not (background-image: map-get(map-get(variables.$home-backgrounds, large), avif)) {
                background-image: map-get(map-get(variables.$home-backgrounds, large), webp);

                @media (min-width: 2560px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, large), webp);
                }

                @media (min-width: 1921px) and (max-width: 2560px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, standard), webp);
                }

                @media (min-width: 1200px) and (max-width: 1920px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, small), webp);
                }

                @media (min-width: 768px) and (max-width: 1199px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, tablet), webp);
                }

                @media (max-width: 767px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, mobile), webp);
                }

                @media (max-width: 480px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, xss), webp);
                }
            }

            @supports not (background-image: map-get(map-get(variables.$home-backgrounds, large), webp)) {
                background-image: map-get(map-get(variables.$home-backgrounds, large), jpg);

                @media (min-width: 2560px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, large), jpg);
                }

                @media (min-width: 1921px) and (max-width: 2560px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, standard), jpg);
                }

                @media (min-width: 1200px) and (max-width: 1920px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, small), jpg);
                }

                @media (min-width: 768px) and (max-width: 1199px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, tablet), jpg);
                }

                @media (max-width: 767px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, mobile), jpg);
                }

                @media (max-width: 480px) {
                    background-image: map-get(map-get(variables.$home-backgrounds, xss), jpg);
                }
            }
        }

        p {
            font-family: "Open Sans", serif;
        }

        h1 {
            @if $usar-color-secundario {
                color: variables.$color-secundario;

            }

            @else {
                color: variables.$color-principal;
            }

            color: variables.$color-secundario;
            margin: 60px;
            font-size: variables.$tamanio-ocho;
            font-family: "Bebas Neue",
            serif;
        }

        #home {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            color: variables.$color-principal;
            position: relative;

        }

        // Estilos del contenedor de tarjetas
        // Estilos del contenedor de tarjetas
        .contenedorHome {
            display: flex;
            gap: 200px;
            margin-top: 80px;

            .tarjeta {

                width: 20vw;
                min-width: 200px;
                background-color: white;
                border-radius: 30px;

                img {
                    width: 100%;
                    height: 85%;
                    border-radius: 30px;
                }
            }
        }


        // Botón de Crear
        .crear {
            @include boton.red-button;

            position: absolute;
            bottom: 0;

            padding: 10px 20px;
            cursor: pointer;
            margin-bottom: 30px;
            border-radius: 30px;
            width: 100px;
            justify-content: center;

        }

        .busqueda {
            background-color: white;
            height: 50px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            padding: 20px;
            justify-content: space-between;

        }

        /* Media Queries para pantallas pequeñas (moviles) */
        /* Large screens (2560px) */
        @media (min-width: 2560px) {
            h1 {
                font-size: funciones.calcular-tamaño-fuente(2560);
            }

            p {
                font-size: variables.$tamanio-doble;
            }

            .busqueda {
                border-radius: 50px;
                height: 70px;
                width: 15vw;
            }

            .crear {
                width: 200px;
                font-size: 30px;
            }


        }


        @media (min-width: 1200px) and (max-width: 2559px) {
            .contenedorHome {

                .tarjeta {

                    width: 30vw;

                }
            }

            p {
                font-size: 1.5rem;
            }

            .crear {
                width: 150px;
                font-size: 20px;

            }

            h1 {
                margin-top: 10px;
            }
        }

        /* Tablets (768px) */
        @media (min-width: 768px) and (max-width: 1199px) {
            h1 {
                font-size: variables.$tamanio-nueve;
            }

            .contenedorHome {

                gap: 100px;

                .tarjeta {
                    width: 40vw;
                }
            }

            .crear {
                width: 200px;
                font-size: 30px;
            }
        }

        $nombre: "contenedorHome";
        /* Mobile phones (480px) */
        @media (max-width: 767px) {
            h1 {
                margin: 20px; // Elimina todo el margen
                font-size: variables.$tamanio-cuatro;
            }

            .#{$nombre}{
                flex-direction: column;
                align-items: center;
                gap: 30px;
                margin-bottom: 100px;
                min-height: 100vh;
                z-index: 1;

            }

            .crear {
                margin-bottom: 10px;
            }
        }