        // Variables de colores
        @use "../componentes/header.scss";
        @use "../base/predeterminado.scss";
        @use "../global/variables.scss";
        @use "../global/funciones.scss";
        @use "../componentes/footer.scss";
        @use "../componentes/boton.scss";


        // Variables de imágenes de fondo por resolución
// Variables de imágenes de fondo por resolución
$home-background-large-avif: url('../../../media/imagenes/avif/imagenFondoMenu7580x5050.avif');
$home-background-standard-avif: url('../../../media/imagenes/avif/imagenFondoMenu2560X1708 .avif');
$home-background-small-avif: url('../../../media/imagenes/avif/imagenFondoMenu1920X1281.avif');
$home-background-tablet-avif: url('../../../media/imagenes/avif/imagenFondoMenu1200X800.avif');
$home-background-mobile-avif: url('../../../media/imagenes/avif/imagenFondoMenu758X512.avif');
$home-background-xss-avif: url('../../../media/imagenes/avif/imagenFondoMenu480X320.avif');

$home-background-large-webp: url('../../../media/imagenes/webp/imagenFondoMenu2560X1707.webp');
$home-background-standard-webp: url('../../../media/imagenes/webp/imagenFondoMenu2560X1708 .webp');
$home-background-small-webp: url('../../../media/imagenes/webp/imagenFondoMenu1920X1281.webp');
$home-background-tablet-webp: url('../../../media/imagenes/webp/imagenFondoMenu1200X800.webp');
$home-background-mobile-webp: url('../../../media/imagenes/webp/imagenFondoMenu758X512.webp');
$home-background-xss-webp: url('../../../media/imagenes/webp/imagenFondoMenu480X320.webp');

$home-background-large-jpg: url('../../../media/imagenes/jpg/imagenFondoMenu2560X1707.jpg');
$home-background-standard-jpg: url('../../../media/imagenes/jpg/imagenFondoMenu2560X1708 .jpg');
$home-background-small-jpg: url('../../../media/imagenes/jpg/imagenFondoMenu1920X1281.jpg');
$home-background-tablet-jpg: url('../../../media/imagenes/jpg/imagenFondoMenu1200X800.jpg');
$home-background-mobile-jpg: url('../../../media/imagenes/jpg/imagenFondoMenu758X512.jpg');
$home-background-xss-jpg: url('../../../media/imagenes/jpg/imagenFondoMenu480X320.jpg');


$usar-color-secundario: true;


        // Estilos del contenedor principal
        body {
            margin: 0;
            background-image: $home-background-large-avif;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh; // Usar min-height en vez de height
            display: flex;
            flex-direction: column; //

    // Carga de imágenes AVIF si el navegador las soporta
    @supports (background-image: $home-background-large-avif) {
        background-image: $home-background-large-avif;

        @media (min-width: 2560px) {
            background-image: $home-background-large-avif;
        }

        @media (min-width: 1200px) and (max-width: 2559px) {
            background-image: $home-background-standard-avif;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            background-image: $home-background-tablet-avif;
        }

        @media (max-width: 767px) {
            background-image: $home-background-mobile-avif;
        }

        @media (max-width: 480px) {
            background-image: $home-background-xss-avif;
        }
    }

    // Si no soporta AVIF, carga WebP
    @supports not (background-image: $home-background-large-avif) {
        background-image: $home-background-large-webp;

        @media (min-width: 2560px) {
            background-image: $home-background-large-webp;
        }

        @media (min-width: 1200px) and (max-width: 2559px) {
            background-image: $home-background-standard-webp;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            background-image: $home-background-tablet-webp;
        }

        @media (max-width: 767px) {
            background-image: $home-background-mobile-webp;
        }

        @media (max-width: 480px) {
            background-image: $home-background-xss-webp;
        }
    }

    // Si no soporta WebP, carga JPG
    @supports not (background-image: $home-background-large-webp) {
        background-image: $home-background-large-jpg;

        @media (min-width: 2560px) {
            background-image: $home-background-large-jpg;
        }

        @media (min-width: 1200px) and (max-width: 2559px) {
            background-image: $home-background-standard-jpg;
        }

        @media (min-width: 768px) and (max-width: 1199px) {
            background-image: $home-background-tablet-jpg;
        }

        @media (max-width: 767px) {
            background-image: $home-background-mobile-jpg;
        }

        @media (max-width: 480px) {
            background-image: $home-background-xss-jpg;
        }
    }



        }

        h1 {
            @if $usar-color-secundario{
                color: variables.$color-secundario;

            }@else{
                color: variables.$color-principal;
            }
            color: variables.$color-secundario;
            margin: 60px ;
            font-size: 5rem;
        }

        #home {
            height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: center;
            color: variables.$color-principal;
            position: relative;

        }

        // Estilos del contenedor de tarjetas
        // Estilos del contenedor de tarjetas
        .contenedorHome {
            display: flex;
            gap: 200px;
            margin-top: 80px;

            .tarjeta {

                width: 20vw;
                min-width: 200px;
                background-color: white;
                border-radius: 30px;

                img {
                    width: 100%;
                    height: 85%;
                    border-radius: 30px;
                }
            }
        }


        // Botón de Crear
        .crear {
            @include boton.red-button;

            position: absolute;
            bottom: 0;

            padding: 10px 20px;
            cursor: pointer;
            margin-bottom: 30px;
            border-radius: 30px;
            width: 100px;
            justify-content: center;

        }

        .busqueda {
            background-color: white;
            height: 50px;
            border-radius: 30px;
            display: flex;
            align-items: center;
            padding: 20px;
            justify-content: space-between;

        }

        /* Media Queries para pantallas pequeñas (moviles) */
        /* Large screens (2560px) */
        @media (min-width: 2560px) {
            h1{
                font-size: funciones.calcular-tamaño-fuente(2560);
            }
            p{
                font-size: 2rem;
            }
            .busqueda{
                border-radius: 50px;
                height: 100px;
                width: 15vw;
            }
        }



        /* Tablets (768px) */
        @media (min-width: 768px) and (max-width: 1199px) {
            h1{
                font-size: 9rem;
            }
            .contenedorHome {

                gap:100px; 
                .tarjeta {
                    width: 40vw;
                }
            }
        }
    

        /* Mobile phones (480px) */
        @media (max-width: 767px) {
        h1 {
                margin: 20px; // Elimina todo el margen
                font-size: 4rem;
            }

            .contenedorHome {
                flex-direction: column;
                align-items: center;
                gap: 50px;
                margin-bottom: 100px;
                min-height: 100vh;
                z-index: 1; 

            }

            .crear {
                margin-bottom: 10px;
            }
        }