@use "../base/predeterminado";
@use "../componentes/header";
@use "../global/variables";
@use "../componentes/boton";





.imagen {
    position: relative;
}




.contenedor {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    text-align: center;
    top: 40vh; 
    color: white;
    gap: 50px;
    max-width: 40%;
    left: 10%; 

    #parrafoMotivacional {
        color: white;
        max-width: 100%;
        
        font-weight: bold;
        font-size: 1.2rem;
        font-family: "Open Sans", serif;
    }


}

.registrar button {
    @include boton.red-button(20px);
    justify-content: center;
    width: 200px;
    font-family: "Open Sans", serif;

}

/* Media Queries para pantallas pequeñas (menos de 768px) */

@media (max-width: 479px) {
    .contenedor {
        top: 15%;
        left: 5%;
        max-width: 40%;
        align-items: flex-start;
        text-align: left;

       
        #parrafoMotivacional {
            font-size: 1.2rem;
            color: white; 
        }

        .registrar {
            margin-left: 50%;
            margin-top: 24vh;

        }
    }
}


@media (min-width: 480px) and (max-width: 767px) {


    .contenedor {
        top: 3vh;
        position: relative;

        margin-left: 20vw;

        #parrafoMotivacional {
            color: black;

            font-size: 1.1rem;
           

        }


    }

}

/* Media Queries para pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {


    .contenedor {
        top: 20vh;

        #parrafoMotivacional {
            color: white;

            font-size: variables.$tamanio-standar;
            

        }


    }
}

/* Media Queries para pantallas grandes (escritorios) */
@media (min-width: 1200px) {
    .contenedor {

        #parrafoMotivacional {
            font-size: variables.$tamanio-standar;
        }
    }

    .registrar button {
        font-size: 20px;
    }
}




/* Media Queries para pantallas extra grandes (pantallas muy grandes, 2560px y más) */
@media (min-width: 2560px) {


    .contenedor {
        max-width: 50%;


        #parrafoMotivacional {
            font-size: variables.$tamanio-doble;
        }
    }

    .registrar button {
        font-size: 25px;
        width: 300px;
    }

}