@use "../base/predeterminado";
@use "../componentes/header";
@use "../global/variables";
@use "../componentes/boton";





.imagen {
    position: relative;
}




.contenedor {
    position: absolute;
    display: flex;
    flex-direction: column;
    /* Columna en móviles */
    align-items: center;
    /* Centra el contenedor */
    text-align: center;
    top: 40vh; // Ajusta este valor para mover el contenedor hacia abajo
    color: white;
    gap: 50px;
    max-width: 40%;
    left: 10%; // Mueve el contenedor al 60% del contenedor principal
 
    #parrafoMotivacional {
        color: white;
        max-width: 100%;
        /* Ocupa el 100% del ancho en móviles */
        font-weight: bold;
        font-size: 1.2rem;
        font-family: "Open Sans", serif;
    }


}

.registrar button {
    @include boton.red-button(20px);
    justify-content: center;
    width: 200px;
    font-family: "Open Sans", serif;

}

/* Media Queries para pantallas pequeñas (menos de 768px) */
@media (max-width: 767px) {


    .contenedor {
        top: 3vh;
        position: relative;

        margin-left: 20vw;

        #parrafoMotivacional {
            color: black;

            font-size: 1.1rem;
            /* Tamaño de fuente un poco más pequeño para móviles */
          
        }


    }

}

/* Media Queries para pantallas medianas (tablets) */
@media (min-width: 768px) and (max-width: 1199px) {


    .contenedor {
        top: 20vh;

        #parrafoMotivacional {
            color: white;

            font-size : 1rem;
            /* Tamaño de fuente un poco más pequeño para móviles */
          
        }


    }
}

/* Media Queries para pantallas grandes (escritorios) */
@media (min-width: 1200px) {
    .contenedor {
        
    #parrafoMotivacional{
        font-size: 1rem;
    }
}
    .registrar button{
        font-size: 20px;
    }
}




/* Media Queries para pantallas extra grandes (pantallas muy grandes, 2560px y más) */
@media (min-width: 2560px) {


    .contenedor {
        max-width: 50%;


        #parrafoMotivacional{
            font-size: 2rem;
        }
    }

    .registrar button{
        font-size: 25px;
        width: 300px;
    }

}