@use "../componentes/header.scss";
@use "../base/predeterminado.scss";
@use "../global/variables.scss";
@use "../global/funciones.scss";
@use "../componentes/footer.scss";
@use "../componentes/boton.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

body {
    height: 100%;
}

body::before,
body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px);
    z-index: -1;
}

body::after {
    background-color: rgba(0, 0, 0, 0.3);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px;
    padding: 40px;
    box-sizing: border-box;
    width: 60vw;
    max-height: 700px;
}

.column {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    height: 100%;

}

.cabezera {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    padding-left: 15px;
    position: relative;
}

.cabezera i {
    font-size: 24px;
}

.textoCabezera {
    font-size: 18px;
    color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
}

table {
    width: 100%;
    border-collapse: collapse;
    flex-grow: 1;
}

td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

@media (max-width: 1199px) {
    .container {
        width: 100vw;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 700px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 20px;
        height: 80vh;
        padding: 20px;
        width: 90vw;
        overflow-y: auto;

    }

    .column {
        height: auto;
        padding: 20px;
    }
}

@media (max-width: 479px) {
    body {
        &::before {
            background-image: image-set(map-get(map-get(variables.$home-backgrounds, xss), avif) type("image/avif"),
                    map-get(map-get(variables.$home-backgrounds, xss), webp) type("image/webp"),
                    map-get(map-get(variables.$home-backgrounds, xss), jpg) type("image/jpeg"));
        }
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    body {
        &::before {
            background-image: image-set(map-get(map-get(variables.$home-backgrounds, mobile), avif) type("image/avif"),
                    map-get(map-get(variables.$home-backgrounds, mobile), webp) type("image/webp"),
                    map-get(map-get(variables.$home-backgrounds, mobile), jpg) type("image/jpeg"));
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    body {
        &::before {
            background-image: image-set(map-get(map-get(variables.$home-backgrounds, tablet), avif) type("image/avif"),
                    map-get(map-get(variables.$home-backgrounds, tablet), webp) type("image/webp"),
                    map-get(map-get(variables.$home-backgrounds, tablet), jpg) type("image/jpeg"));
        }
    }
}

@media (min-width: 1200px) and (max-width: 2559px) {
    body {
        &::before {
            background-image: image-set(map-get(map-get(variables.$home-backgrounds, small), avif) type("image/avif"),
                    map-get(map-get(variables.$home-backgrounds, small), webp) type("image/webp"),
                    map-get(map-get(variables.$home-backgrounds, small), jpg) type("image/jpeg"));
        }
    }
}

@media (min-width: 2560px) {
    body {
        &::before {
            background-image: image-set(map-get(map-get(variables.$home-backgrounds, large), avif) type("image/avif"),
                    map-get(map-get(variables.$home-backgrounds, large), webp) type("image/webp"),
                    map-get(map-get(variables.$home-backgrounds, large), jpg) type("image/jpeg"));
        }
    }
}
