@use "../componentes/header.scss";
@use "../base/predeterminado.scss";
@use "../global/variables.scss";
@use "../global/funciones.scss";
@use "../componentes/footer.scss";
@use "../componentes/boton.scss";
@import "../../../node_modules/@fortawesome/fontawesome-free/css/all.min.css";

body {
    height: 100%; // Asegura que html y body ocupen toda la altura de la ventana
}

body::before,
body::after {
    content: "";
    position: fixed; // Fija la imagen al viewport
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(4px); // Ajusta el valor según el nivel de difuminado deseado
    z-index: -1; // Asegura que la imagen esté detrás del contenido
}

body::after {
    background-color: rgba(0, 0, 0, 0.3); // Color de superposición semi-transparente
}

main {
    flex: 1; // Hace que el contenido principal ocupe todo el espacio disponible
    display: flex;
    justify-content: center; // Centra horizontalmente el formulario
    align-items: center; // Centra verticalmente el formulario
    min-height: 80vh; // Asegura que haya suficiente espacio para centrar
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas */
    grid-template-rows: repeat(2, 1fr); /* Dos filas */
    gap: 50px; /* Reducir el espaciado entre las celdas */
    padding: 40px; /* Aumentar el padding interno */
    box-sizing: border-box;
    width: 60vw; /* Limitar el ancho máximo del contenedor */
    max-height: 700px; /* Limitar el ancho máximo del contenedor */
    margin-bottom: 150px;
}

.column {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px; /* Aumentar el padding interno */
    border-radius: 15px; /* Aumentar el radio de la esquina */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Aumentar la sombra */
    height: 100%; /* Hacer que las columnas ocupen toda la altura disponible */
    display: flex;
    flex-direction: column; /* Organizar el contenido en columna */
    justify-content: space-between; /* Distribuir el contenido verticalmente */
}

.cabezera {
    display: flex; // Habilita Flexbox
    align-items: center; // Centra verticalmente todos los elementos
    justify-content: space-between; // Distribuye el espacio entre el ícono y el texto
    margin-bottom: 30px; // Espaciado inferior
    padding-left: 15px; // Añade un padding para evitar que el ícono se pegue al borde
    position: relative; // Necesario para posicionar el texto correctamente
}

.cabezera i {
    font-size: 24px; // Tamaño del ícono
    margin-right: 15px; // Espacio entre el ícono y el texto
}

.textoCabezera {
    font-size: 18px; // Tamaño del texto
    color: black;
    position: absolute; // Posiciona el texto absolutamente dentro de .cabezera
    left: 50%; // Coloca el texto en el centro horizontal
    transform: translateX(-50%); // Ajusta para centrar perfectamente
    width: max-content; // Asegura que el texto no afecte otros elementos
}
table {
    width: 100%;
    border-collapse: collapse;
    flex-grow: 1; /* Hacer que la tabla crezca para ocupar el espacio disponible */
}

td {
    border: 1px solid #ddd;
    padding: 15px; /* Aumentar el padding de las celdas */
    text-align: center;
}
 
/* Media Query para pantallas entre 768px y 1199px */
@media (max-width: 1199px) {
    .container {

        width: 100vw;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas */

    }

}

@media (max-width: 700px) {
    .container {
        grid-template-columns: 1fr; /* Una sola columna */
        grid-template-rows: repeat(4, auto); /* Altura automática para cada fila */
        gap: 20px; /* Espaciado entre los elementos */
        height: 80vh; /* Altura máxima del contenedor */
        padding: 20px; /* Padding interno */
        width: 90vw; /* Ancho del contenedor */
        margin-top: 0; /* Eliminar margen superior */
        overflow-y: auto; /* Habilitar scroll vertical */
        display: flex;
        flex-direction: column; /* Organizar los elementos en columna */
    }
    .column {
        height: auto; /* Altura automática para las columnas */
        padding: 20px; /* Padding interno */
    }
}

@media (max-width: 479px) {
    body {
        &::before {
            background-image: map-get(map-get(variables.$home-backgrounds, xss), avif);
        }
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    body {
        &::before {
            background-image: map-get(map-get(variables.$home-backgrounds, mobile), avif);
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    body {
        &::before {
            background-image: map-get(map-get(variables.$home-backgrounds, tablet), avif);
        }
    }
}

@media (min-width: 1200px) and (max-width: 2559px) {
    body {
        &::before {
            background-image: map-get(map-get(variables.$home-backgrounds, small), avif);
        }
    }
}

@media (min-width: 2560px) {
    body {
        &::before {
            background-image: map-get(map-get(variables.$home-backgrounds, large), avif);
        }
    }
}
